@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
@import "./mixins.scss";

$font-stack: "Roboto", sans-serif;
$bg-color: #000;
$text-color: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    background-color: $bg-color;
    color: $text-color;
}

html {
    scroll-behavior: smooth;

}


a,
button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 140px;
    height: 40px;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 18px;
    background: transparent;
    border: 1px solid white;
    transition: all 0.4s ease;
    cursor: pointer;


    &:hover {
        transform: scale(1.01); // subtle pop
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
    }
}

li {
    list-style: none;
}

h1 {
    font-size: clamp(2.3rem, 4vw, 3.1rem);
    font-weight: 500;
}


p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}