$mobile: 576px;
$landscape: 768px;
$tablet: 992px;
$laptop: 1200px;
$desktop: 1400px;

@mixin mobile {
    @media (max-width:$mobile) {
        @content;
    }
}

@mixin landscape {
    @media (min-width:($mobile + 1)) and (max-width: $landscape) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:($landscape + 1)) and (max-width: $tablet) {
        @content;
    }
}

@mixin laptop {
    @media (min-width:($tablet + 1)) and (max-width: $laptop) {
        @content;
    }
}

@mixin laptop {
    @media (min-width:($tablet + 1)) and (max-width: $laptop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:($laptop + 1)) and (max-width: $desktop) {
        @content;
    }
}