@import "../../styles/mixins.scss";

.project-card-container {
    width: 450px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;

    @include desktop {
        width: 650px;
        margin: auto;
    }

    @include laptop {
        width: 650px;
        margin: auto;
    }

    @include tablet {
        width: 650px;
        margin: auto;
    }

    @include landscape {
        width: calc(100% - 120px);
        margin: auto;
    }

    @include mobile {
        width: calc(100% - 80px);
        margin: auto;
    }

    .project-card-image-container {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;

        .latest-project-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.8s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        .overlay {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgba(0, 0, 0, 0.8);
            inset: 0;
            opacity: 0;
            transition: opacity 0.8s ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    .project-card-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;

        @include mobile {
            gap: 20px;
        }
    }
}