@import "../../styles/mixins.scss";

#home {
    nav {
        position: fixed;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 1000;

        .mobile-nav {
            display: block;

            .menu-icon {
                width: 24px;
                height: 22px;
                position: relative;
                cursor: pointer;
                z-index: 1000;
                margin-left: 18px;

                @include landscape {
                    width: 24px;
                }

                @include mobile {
                    width: 22px;
                }

                div {
                    width: 100%;
                    height: 1px;
                    background: white;
                    margin: 5px 0;
                    border-radius: 2px;
                    transition: all 0.4s;
                }


                &.open .bar-1 {
                    transform: rotate(-45deg) translate(-5px, 6px);
                }

                &.open .bar-2 {
                    opacity: 0;
                }

                &.open .bar-3 {
                    transform: rotate(45deg) translate(-5px, -6px);
                }
            }


        }


        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 60px;
            height: 100dvh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5rem;
            padding: 1.5rem 0;
            z-index: 999;

            transform: translateX(-100%);
            transition: transform 0.8s ease-in-out;

            @include mobile {
                width: 40px;
            }

            li {
                transform: rotate(90deg);

                .nav-link {
                    all: unset;
                    text-decoration: none;
                    border: none;
                    font-weight: 200;
                    transition: color 0.4s ease;
                    cursor: pointer;

                    &:hover {
                        color: darken(white, 20%);
                    }
                }

            }
        }

        .mobile-menu.open {
            transform: translateX(0);
        }
    }

}