@import "../../styles/mixins.scss";

#contact {
    max-height: 100dvh;

    .contact-container {
        display: grid;
        grid-template-columns: 1fr;

        @include tablet {
            margin: auto;
        }

        @include landscape {
            margin: auto;
        }

        @include mobile {
            margin: auto;
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            p {
                font-size: 1.2rem;
            }
        }

        .contact-form {
            margin-top: 40px;

            form {
                max-width: 800px;
                width: 100%;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr;
                gap: 40px;

                input {
                    background-color: transparent;
                    color: white;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid white;
                    padding: 0 10px;
                    line-height: 1.8;

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0;

                    @include desktop {
                        width: calc(100% - 140px);
                        margin: auto;
                    }

                    @include laptop {
                        width: calc(100% - 140px);
                        margin: auto;
                    }

                    @include tablet {
                        width: calc(100% - 140px);
                        margin: auto;
                    }

                    @include landscape {
                        width: calc(100% - 120px);
                        margin: auto;
                    }

                    @include mobile {
                        width: calc(100% - 80px);
                        margin: auto;
                    }

                    &::placeholder {
                        color: white;
                    }

                    &:focus {
                        border-bottom: 2px solid white;
                    }
                }

                textarea {
                    min-height: 90px;
                    background-color: transparent;
                    color: white;
                    outline: none;
                    border: 1px solid white;
                    padding: 10px;
                    font-family: "Roboto";
                    resize: vertical;

                    @include desktop {
                        width: calc(100% - 140px);
                        margin: auto;
                    }

                    @include laptop {
                        width: calc(100% - 140px);
                        margin: auto;
                    }

                    @include tablet {
                        width: calc(100% - 140px);
                        margin: auto;
                    }

                    @include landscape {
                        width: calc(100% - 120px);
                        margin: auto;
                    }

                    @include mobile {
                        width: calc(100% - 80px);
                        margin: auto;
                    }

                    &::placeholder {
                        color: white;
                    }

                    &:focus {
                        border: 2px solid white;
                    }

                }

                .submit-button {
                    margin: auto;
                }

                .success-message {
                    color: green;
                }

                .error-message {
                    color: red;
                }
            }
        }
    }

}