@import "../../styles/mixins.scss";

footer {
    margin-top: 80px;

    .footer-container {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: auto;

        @include mobile {
            width: calc(100% - 20px);
        }

        .footer-links {
            margin-bottom: 20px;
            max-width: 500px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            @include landscape {
                width: calc(100% - 20px);
            }

            @include mobile {
                width: calc(100% - 140px);
            }


            .footer-link {
                all: unset;
                text-decoration: none;
                border: none;
                font-weight: 200;
                transition: color 0.4s ease;
                cursor: pointer;

                &:hover {
                    color: darken(white, 20%);
                }

            }

        }

        p {
            font-size: 0.9rem;
            font-weight: 300;
        }
    }



}